
.center{
    text-align: center;
}

article{
   display: inline-block;
    text-align: justify
}
#sep{
    
    margin-left: 10px;
}
.verticalLine {
    margin-left: 10px;
    display: inline-block;
    border-left: solid ;
    float: center;
    position:inherit
}
